<!doctype html>
<html ng-app="app" ng-controller="MainController">
<head>
    <title>Lines</title>
    <meta name="description" content="Color Lines (aka Lines) is a computer puzzle game, invented by Oleg Demin and first introduced as a video game by the Russian company Gamos (Russian: Геймос) in 1992.">
    <meta name="keywords" content="color, lines, lines98, puzzle, game, logical">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="images/lines16x16.png">
    <link rel="stylesheet" href="stylesheets/game.css">
    <script src="javascripts/helper.js"></script>
    <script src="javascripts/libs/jquery-2.1.4.js"></script>
    <script src="javascripts/libs/angular.min.js"></script>
    <script src="angular/app.js"></script>
</head>
<body ng-controller="GameController">

<div class="game-wrapper" shadow-alert="shadowAlert.visible">
    <div class="top">
        <div class="top-container">
            <div class="high-score">
                <span>High Score</span>
                {{highScore}}
            </div>
            <div>
                <a class="button" ng-click="newGame()">New Game</a>
            </div>
            <div class="your-score">
                <span>Your Score</span>
                {{score}}
            </div>
        </div>
    </div>
    <div class="board">
        <div class="row" ng-repeat="row in board track by $index">
            <div class="cell" ng-repeat="cell in row track by $index" ng-click="cellClick(cell.position)"></div>
        </div>
        <ball ng-repeat="ball in balls" params="ball"></ball>
    </div>
    <div class="messageBox" ng-show="messageBox.visible">
        <h4>{{messageBox.title}}</h4>
        <p>{{messageBox.message}}</p>
        <div class="buttons-wrapper">
            <a class="right button button-sm" ng-click="messageBox.hide()">Close</a>
        </div>
    </div>
</div>

<!-- Angular Directives -->
<script src="angular/directives/ball.js"></script>
<script src="angular/directives/shadowAlert.js"></script>
<!-- Angular Factories -->
<script src="angular/factories/BallFactory.js"></script>
<script src="angular/factories/BoardFactory.js"></script>
<!-- Angular Controllers -->
<script src="angular/controllers/MainController.js"></script>
<script src="angular/controllers/GameController.js"></script>

</body>
</html>