$fonts: ('Roboto-Italic', 'Roboto-Light', 'Roboto-LightItalic', 'Roboto-Medium', 'Roboto-MediumItalic', 'Roboto-Regular');
@each $font in $fonts {
  @font-face {
    font-family: $font;
    src: url('fonts/Roboto/' + $font + '.otf');
  }
}

@font-face {
  font-family: 'Digital';
  src: url('fonts/Digital/DIGITALDREAM.ttf');
}