@mixin ball($ballSize) {
  display: inline-block;
  width: $ballSize;
  height: $ballSize;
  margin: 0;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    z-index: 2;
  }

  @keyframes bounceball {
    0% { transform: translateY(0px); }
    50%  { transform: translateY(-5px); }
    100%   { transform: translateY(0px); }
  }

  @-webkit-keyframes bounceball {
    0% { -webkit-transform: translateY(0px); }
    50%  { -webkit-transform: translateY(-5px); }
    100%   { -webkit-transform: translateY(0px); }
  }

  &.selected {
    animation-name: bounceball;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;

    -webkit-animation-name: bounceball;
    -webkit-animation-duration: .6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: ease-in-out;
  }
}

@mixin addPerspective() {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@mixin absoluteCentered() {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin boxShadow($color) {
  -webkit-box-shadow: 0px 0px 10px $color;
  -moz-box-shadow: 0px 0px 10px $color;
  -ms-box-shadow: 0px 0px 10px $color;
  -o-box-shadow: 0px 0px 10px $color;
  box-shadow: 0px 0px 10px $color;
}

@mixin clear {
  content: '' !important;
  clear: both !important;
  float: none !important;
  display: block !important;
  height: 0 !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}