@import "reset";
@import "fonts";
@import "mixins";

$ballSize: 34px;
$cellSize: 50px;
$topHeight: 80px;

$white: white;
$gray100: #F5F5F5;
$gray500: #9E9E9E;
$gray900: #212121;
$blueGrey700: #455A64;
$teal: teal;
$red: red;

body {
  font-family: Roboto-Regular;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;

  * {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.game-wrapper {
  position: relative;
  background-color: $gray100;
  width: 9 * $cellSize + 3px;
  height: 9 * $cellSize + $topHeight + 3px;
  border: 1px solid $blueGrey700;
  margin: 0px auto;

  @include boxShadow($blueGrey700);

  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  &.alert {
    @include boxShadow($red);
    border-color: $red;
  }

  .top {
    height: $topHeight;

    .top-container {
      height: 100%;
      width: 100%;
      border: 1px solid $gray500;
      border-bottom: 1px solid $blueGrey700;
      display: flex;
      cursor: default;
      > div {
        padding: 5px;
        flex-basis: 33.3333%;
        font-family: Digital;
        font-size: 2.7rem;
        line-height: 1.3;
        text-align: center;
        color: $blueGrey700;
        > span {
          display: block;
          font-size: .9rem;
          text-transform: uppercase;
        }
        &.your-score {
          text-align: right;
          > span {
            padding-right: 2px;
          }
        }
        &.high-score {
          text-align: left;
          padding-left: 8px;
        }
      }
    }
  }

  .row {
    display: flex;
  }

  .cell {
    height: $cellSize;
    flex-grow: 1;
    border: 1px solid $gray500;
    border-right-color: white;
    border-bottom-color: white;
    @include addPerspective;
    text-align: center;
  }

  .board {
    position: relative;
    border-right: 1px solid $gray500;
    border-bottom: 1px solid $gray500;

    .ball {
      @include ball($ballSize);
    }
  }

  .messageBox {
    width: 300px;
    padding: 10px;
    font-size: .9rem;
    color: $blueGrey700;
    background-color: $gray100;
    @include absoluteCentered;
    @include boxShadow($blueGrey700);
    border-radius: 5px;
    z-index: 999999;

    h4 {
      font-size: 1.1rem;
    }
    p {
      text-align: center;
      padding: 10px 0;
      border-top: 1px solid $gray500;
      border-bottom: 1px solid $gray500;
    }
  }
}

.buttons-wrapper {
  padding-top: 10px;
  &:after {
    @include clear;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.button {
  font-size: 1rem;
  padding: 6px 6px 5px 6px;
  border-radius: 5px;
  border: 2px solid $blueGrey700;
  cursor: pointer;
  transition: all .3s ease-out;

  &.button-sm {
    padding: 5px;
    font-size: .9rem;
  }

  &:hover {
    background-color: $blueGrey700;
    color: $white;
  }
}

@media all and (max-width: 470px) {
  .game-wrapper {
    transform: scale(.775);
    transform-origin: top left;
  }
}

@media all and (max-width: 359px) {
  .game-wrapper {
    transform: scale(.689);
  }
}