html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: normal; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Roboto-Italic";
  src: url("fonts/Roboto/Roboto-Italic.otf"); }
@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto/Roboto-Light.otf"); }
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("fonts/Roboto/Roboto-LightItalic.otf"); }
@font-face {
  font-family: "Roboto-Medium";
  src: url("fonts/Roboto/Roboto-Medium.otf"); }
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("fonts/Roboto/Roboto-MediumItalic.otf"); }
@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto/Roboto-Regular.otf"); }
@font-face {
  font-family: 'Digital';
  src: url("fonts/Digital/DIGITALDREAM.ttf"); }
body {
  font-family: Roboto-Regular;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }
  body * {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

h1 {
  font-size: 2rem;
  text-align: center; }

.game-wrapper {
  position: relative;
  background-color: #F5F5F5;
  width: 453px;
  height: 533px;
  border: 1px solid #455A64;
  margin: 0px auto;
  -webkit-box-shadow: 0px 0px 10px #455A64;
  -moz-box-shadow: 0px 0px 10px #455A64;
  -ms-box-shadow: 0px 0px 10px #455A64;
  -o-box-shadow: 0px 0px 10px #455A64;
  box-shadow: 0px 0px 10px #455A64;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .game-wrapper.alert {
    -webkit-box-shadow: 0px 0px 10px red;
    -moz-box-shadow: 0px 0px 10px red;
    -ms-box-shadow: 0px 0px 10px red;
    -o-box-shadow: 0px 0px 10px red;
    box-shadow: 0px 0px 10px red;
    border-color: red; }
  .game-wrapper .top {
    height: 80px; }
    .game-wrapper .top .top-container {
      height: 100%;
      width: 100%;
      border: 1px solid #9E9E9E;
      border-bottom: 1px solid #455A64;
      display: flex;
      cursor: default; }
      .game-wrapper .top .top-container > div {
        padding: 5px;
        flex-basis: 33.3333%;
        font-family: Digital;
        font-size: 2.7rem;
        line-height: 1.3;
        text-align: center;
        color: #455A64; }
        .game-wrapper .top .top-container > div > span {
          display: block;
          font-size: .9rem;
          text-transform: uppercase; }
        .game-wrapper .top .top-container > div.your-score {
          text-align: right; }
          .game-wrapper .top .top-container > div.your-score > span {
            padding-right: 2px; }
        .game-wrapper .top .top-container > div.high-score {
          text-align: left;
          padding-left: 8px; }
  .game-wrapper .row {
    display: flex; }
  .game-wrapper .cell {
    height: 50px;
    flex-grow: 1;
    border: 1px solid #9E9E9E;
    border-right-color: white;
    border-bottom-color: white;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    text-align: center; }
  .game-wrapper .board {
    position: relative;
    border-right: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E; }
    .game-wrapper .board .ball {
      display: inline-block;
      width: 34px;
      height: 34px;
      margin: 0;
      border-radius: 50%;
      position: relative;
      cursor: pointer; }
      .game-wrapper .board .ball:before {
        content: "";
        position: absolute;
        top: 10%;
        left: 15%;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
        -webkit-filter: blur(5px);
        z-index: 2; }
@keyframes bounceball {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }
@-webkit-keyframes bounceball {
  0% {
    -webkit-transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-5px); }
  100% {
    -webkit-transform: translateY(0px); } }
      .game-wrapper .board .ball.selected {
        animation-name: bounceball;
        animation-duration: .6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        -webkit-animation-name: bounceball;
        -webkit-animation-duration: .6s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-delay: 0s;
        -webkit-animation-timing-function: ease-in-out; }
  .game-wrapper .messageBox {
    width: 300px;
    padding: 10px;
    font-size: .9rem;
    color: #455A64;
    background-color: #F5F5F5;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-shadow: 0px 0px 10px #455A64;
    -moz-box-shadow: 0px 0px 10px #455A64;
    -ms-box-shadow: 0px 0px 10px #455A64;
    -o-box-shadow: 0px 0px 10px #455A64;
    box-shadow: 0px 0px 10px #455A64;
    border-radius: 5px;
    z-index: 999999; }
    .game-wrapper .messageBox h4 {
      font-size: 1.1rem; }
    .game-wrapper .messageBox p {
      text-align: center;
      padding: 10px 0;
      border-top: 1px solid #9E9E9E;
      border-bottom: 1px solid #9E9E9E; }

.buttons-wrapper {
  padding-top: 10px; }
  .buttons-wrapper:after {
    content: '' !important;
    clear: both !important;
    float: none !important;
    display: block !important;
    height: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important; }

.right {
  float: right; }

.left {
  float: left; }

.button {
  font-size: 1rem;
  padding: 6px 6px 5px 6px;
  border-radius: 5px;
  border: 2px solid #455A64;
  cursor: pointer;
  transition: all .3s ease-out; }
  .button.button-sm {
    padding: 5px;
    font-size: .9rem; }
  .button:hover {
    background-color: #455A64;
    color: white; }

@media all and (max-width: 470px) {
  .game-wrapper {
    transform: scale(0.775);
    transform-origin: top left; } }
@media all and (max-width: 359px) {
  .game-wrapper {
    transform: scale(0.689); } }

/*# sourceMappingURL=game.css.map */
